* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #461d25;
  font-family: "VT323", monospace;
  color: antiquewhite;
}

.presentation {
  width: 100vw;
  height: 100%;
  background-color: royalblue;
  position: absolute;
  z-index: 100;
}

.window {
  /* background-color: steelblue; */
  height: 100vh;
  margin: 0 auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-section {
  /* background-color: tomato; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.buttons {
  display: flex;
}

.buttons div {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

p {
  margin-bottom: 0;
}

.row {
  margin: 0;
}

.navbar {
  padding: 1rem;
  z-index: 1;
}

.outside-navbar {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 4rem;
  z-index: 10;
}

.one-card {
  height: 5.625rem;
  margin-left: -3.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
}

.player-section,
.dealer-section {
  text-align: center;
}

.dealer-section {
  margin-bottom: 5rem;
}

.player-points,
.dealer-points {
  margin-left: -3.125rem;
}

.money-amount {
  display: flex;
  font-size: 1.5rem;
}

.money-ico {
  height: 2.2rem;
  margin-right: 0.5rem;
}

.user-money {
  display: flex;
}
